* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: zeitung, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  margin: 0;
}

/* ================= */
//
//
//
//
/* === GENERAL STYLING === */

.header {
  padding: 4rem;
  background-color: lightcyan;

  .title {
    font-size: 4rem;
  }
}

.section {
  padding: 4rem;
  background-color: #fcc9c9;
}

.alert-danger {
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  background-color: rgba(255, 89, 89, 0.514);
  color: rgb(99, 33, 33);
  span {
    font-weight: bold;
  }
}

.alert-info {
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  background-color: rgba(89, 255, 97, 0.514);
  color: green;

  span {
    font-weight: bold;
  }
}

/* ================= */
//
//
//
//
/* === NAVBAR === */

.navbar {
  display: flex;
  background: black;

  .navbar-item {
    padding: 1rem;

    .navbar-link {
      color: white;
    }

    .active {
      font-weight: bold;
    }
  }
}

/* ================= */
//
//
//
//
/* === SIGNUP PAGE ===*/

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-group {
    width: 50%;
    display: flex;
    flex-direction: column;

    label {
      padding: 2rem 0 0.3rem 0;
    }
    .text-muted {
      font-size: 0.7rem;

      color: rgb(148, 148, 148);
    }

    .form-control {
      border: 0;
      font-size: 1rem;
      box-shadow: none;
      text-decoration: none;
      border-bottom: 1px solid black;
    }
  }

  .button {
    border: 0;
    background-color: black;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    width: auto;
    border-radius: 0.5rem;
    color: white;
  }
}

/* ================= */
//
//
//
//
/* === ADMIN DASHBOARD ===*/

.container-admin-dashboard {
  display: flex;

  .admin-create {
    width: 50%;

    .admin-header {
      font-weight: bold;
      font-size: 2rem;
    }

    .list-group {
      width: 30%;
      .list-group-item {
        text-align: center;
        background-color: lightcyan;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        padding: 0.3rem;
        margin: 0.5rem 0;
      }
    }
  }

  .admin-info {
    width: 50%;

    .admin-header {
      font-weight: bold;
      font-size: 2rem;
    }

    .list-group {
      .list-group-item {
        font-size: 0.8rem;
        margin: 0.5rem 0;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

/* ================= */
//
//
//
//
/* === USER DASHBOARD ===*/

.container-user-dashboard {
  display: flex;

  .user-links {
    width: 50%;

    .user-header {
      font-weight: bold;
      font-size: 2rem;
    }

    .list-group {
      .list-group-item {
        font-size: 0.8rem;
        padding: 0.3rem;

        span {
          font-weight: bold;
        }
      }
    }
  }

  .user-info {
    width: 50%;

    .user-header {
      font-weight: bold;
      font-size: 2rem;
    }

    .list-group {
      .list-group-item {
        font-size: 0.8rem;
        margin: 0.5rem 0;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

.purchasedHistory {
  .history-header {
    font-weight: bold;
    font-size: 2rem;
  }
}

/* ================= */
//
//
//
/* === CREATE CATEGORY ===*/

.container-create-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================= */
